---
interface Item {
  label: string;
  href: string;
}

interface Props {
  items: Item[];
}
const { items } = Astro.props;
---

<div class="h-16 bg-white/15 w-full px-8 flex justify-between items-center">
  <span class="font-bold w-1/3">Logo</span>
  <div class="w-1/3 hidden md:flex justify-center items-center gap-6">
    {
      items.map((item, itemIndex) => (
        <a class="hover:underline hover:underline-offset-2" href={item.href}>
          {item.label}
        </a>
      ))
    }
  </div>
  <div class="md:w-1/3 flex justify-end items-center gap-2">
    <a href="/login" class="mr-4 underline underline-offset-2">Log In</a>
    <button
      class="bg-white p-1 px-2 hover:shadow-lg hover:shadow-purple-50 rounded-xl border transition-all ease-in-out duration-300"
      >Get Started</button
    >
  </div>
</div>
