---

---

<button
  class="p-1 rounded-xl shadow hover:shadow-md transition-all ease-in-out duration-300"
>
  <slot />
</button>

<style>
  .button {
    background-color: var(--color-primary);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
