---

---

<footer class="p-4 px-8 flex justify-between">
  <p>© 2024, Built with Astro</p>
  <div>
    <a
      class="hover:underline hover:underline-offset-2"
      href="https://github.com/jph-sw">GitHub</a
    >
  </div>
</footer>
